body {
    background-color: #C8D0D2;
    margin: 0;
}

.card-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin: 1rem 2rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    background-color: white;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: 150ms;
    transform: perspective(450px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.card:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.card.flip {
    --rotate-y: 180deg;
}

.card .front, .card .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
}

.card .back {
    transform: rotateY(180deg);
}

.card .front {
    left: 0;
}

.flashcard-options {
    margin-top: .5rem;
}

.flashcard-option {
    margin-top: .25rem;
    color: #555;
    font-size: .9rem;
}

.flashcard-option:first-child {
    margin-top: 0;
}

.screen_size {
    font-size: 1.2rem;
    font-weight: bold;
    color: hsl(200, 100%, 50%);
    margin: 1rem 2rem 1rem 0;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1.5rem;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.generate_btn {
    padding: .5em 1em;
    background-color: hsl(200, 100%, 50%);
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.generate_btn:hover {
    background-color: hsl(200, 100%, 40%);
}

label {
    color: #777;
    margin: 10px 0;
    font-size: .75rem;
}